<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - подкаст, Golang, Python, JavaScript, K8s, daily dev</title>
    <meta name="author" content="Борис Острецов, Артём Острецов">
    <meta name="description" content="Еженедельный подкаст о разработке web сервисов.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
{% block container %}
<div class="container">
    <div class="row" style="margin: 15px 0;">
        <div class="two columns">
            <a href="/">
                Подкаст
            </a>
        </div>
        <div class="two columns">
            <a href="/archive/">
                Архив
            </a>
        </div>
        <div class="two columns">
            <a href="/tags/">
                Теги
            </a>
        </div>
        <div class="two columns">
            <a href="/feed/rss.xml">
                RSS
            </a>
        </div>
        <div class="three columns">
            <a href="https://anchor.fm/daily-dev">
                На других платформах
            </a>
        </div>
    </div>
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
{% block before_body_ends %}{% endblock %}
</body>
</html>
